header {
    background: linear-gradient(90deg, #1a3c40, #145374);
    padding: 30px 0;
    height: 120px;
    text-align: center;
    color: #fdfdfd;
    box-shadow: 0 4px 6px rgba(0,0,0,0.25); 
}

/* Main title */
h1 {
    font-family: Georgia, serif;
    font-size: 28px;
    color: #FFD700;               
    margin: 0;
    letter-spacing: 2px;
    text-align: center;
}

h2 {
    font-family: Georgia, serif;
    font-size: 22px;
    color: #2E8B57;       
    margin-top: 40px;     
    margin-bottom: 15px;  
    margin-left: 30px;    
    text-align: center;
}

h3{
    font-family: Georgia, serif;
    font-size: 22px;
    color: #2E8B57;       
    margin-top: 40px;     
    margin-bottom: 15px;  
    margin-left: 30px;    
    text-align: left;
}

p {
    color: #333;                  
    font-family: Tahoma, sans-serif;
    font-size: 15px;
    text-align: justify;
    line-height: 1.6;              
    text-indent: 2em;              
    margin-bottom: 25px;           
}

body {
    background-color: #f4f9f9; 
    margin: 0;
    padding: 0;
}