h1,
h2 {
    color: white;
    font-family: Georgia;
    text-align: left;
}

p {
    color: black;
    font-family: Tahoma;
    font-size: 16px;
    text-align: justify;
}

header {
    padding-top: 40px;
    padding-bottom: 40px;
    height: 100px;
    background-color: #002147;
}

body {
    background-color: #c6f3f8;
}