header {
    background-color: #002147;
    padding: 30px 0;
    height: 120px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.25);
}

h1 {
    color: #FFD700;
    font-family: Georgia, serif;
    font-size: 28px;
    margin: 0;
    letter-spacing: 2px;
}

h2 {
    color: black;        
    font-family: Georgia, serif;
    font-size: 18px;
    margin-top: 25px;
    margin-left: 50px;      
    margin-bottom: 10px;
    text-align: left;
}

h3 {
    color: lightblue;             
    font-family: Georgia, serif;
    font-size: 18px;
    margin-top: 25px;
    margin-left: 50px;     
    margin-bottom: 10px;
    text-align: left;
}


p {
    color: black;    
    font-family: Tahoma, sans-serif;
    font-size: 15px;
    text-align: justify;
    line-height: 1.6;
    text-indent: 2em;
    margin-bottom: 25px;
}

body {
    background-color: #f4f9f9; 
    margin: 0;
    padding: 0;
}